table {
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
}

td {
    text-align: center;
}

.btn {
    background: none;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
}

.btn:active {
    background-color: blanchedalmond;
}

.remove {
    border-color: brown;
    color: brown;
}